<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="div1">
            <h1>About Us </h1>
            <h2>Welcome to INDIAN HANDMADE Website, a celebration of Indian craftsmanship and artistry!</h2>
        </div>
        <div class="div2">
            <h1>Our Story:</h1>
            <h3>At INDIAN HANDMADE Website, we are passionate about preserving India's rich heritage of handmade crafts. Our journey began with a vision to create a platform that honors the skilled artisans and their traditional techniques while offering unique and exquisite handmade products to a global audience.</h3>
        </div>
        <div class="div3">
            <h1>Our Mission:</h1>
            <h3>We are dedicated to supporting local artisans and empowering their communities. By promoting their exceptional skills and connecting them with a wider audience, we aim to sustain these age-old crafts and contribute to the socio-economic development of artisans across India.</h3>
        </div>
        <div class="div4">
            <h1>Our Values:</h1>
            <h2>Authenticity:</h2>
            <h3> Each product on our platform is a testament to the authentic craftsmanship and cultural legacy of India.</h3>
            <h2>Fair Trade:</h2>
            <h3>We prioritize fair trade practices, ensuring that artisans receive fair compensation for their remarkable work.</h3>
            <h2>Sustainability:</h2>
            <h3>We are committed to promoting sustainable practices by encouraging eco-friendly materials and processes.</h3>
            
        </div>
        <div class="div5">
            <h1>Our Collection:</h1>
            <h3>Explore our curated collection of handcrafted treasures, including textiles, pottery, jewelry, home decor, and more. Every item is meticulously crafted with passion, skill, and a story to tell.</h3>
        </div>
        <div class="div6">
            <h1>Connect with Us:</h1>
            <h3>We love connecting with fellow admirers of handmade treasures! Reach out to us for any inquiries, collaborations, or to share your love for Indian craftsmanship.  <br>
                Thank you for supporting our artisans and being a part of our journey to promote the beauty of Indian handmade crafts!

            </h3>
        </div>
</body>
</html>