<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css" />

</head>
<body>
    <div id="div1">
        <div class="video1">
          <video autoplay loop muted src="./video/video.mp4">
          </video>
  
  
        </div>
        <div class="overlay">
          <img src="./images/logoIHM1.png" alt="">
  
          <form action="">
            <input type="text" placeholder="Search your item here...">
            <i class="ri-search-line"></i>
          </form>
        </div>
  
      </div>
</body>
</html>