<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="nav">
        <div class="overlay1-nav">
          <img src="/images/logoIHM1.png" alt="">
        </div>
        
        <div class="nav-links">
          <div class="nav-link">
            <div class="nav-link-i">
              <i class="ri-map-pin-line"></i> 
              <span>Stores</span>
            </div>
          </div>
          <div class="nav-link">
            <div class="nav-link-i">
              <i class="ri-shopping-cart-2-line"></i>
              <span>View Products</span>
            </div>
          </div>
          <div class="nav-link">
            <div class="nav-link-i">
              <i class="ri-account-circle-line"></i>
              <span>Set Profile</span>
            </div>
          </div>
          <div class="login-btn"><a href="/login">Login</a></div>
        </div>
    </div>
      
</body>
</html>